<main>
    {{!--FORMULARIO--}}
        <br>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form action="">
                    <input type="text" class="form-control" placeholder="Nome do produto"><br>
                    <input type="number" class="form-control" placeholder="Valor do produto"><br>
                    <input type="file" class="form-control"><br>
                    <input type="submit" value="Cadastrar" class="btn btn-primary offset-4">
                </form>
            </div>
        </div>
    </div>
</main>